[Unit]
Description=The Lounge IRC client
After=network.target

[Service]
User=lounge
Group=lounge
Type=simple
ExecStart=/usr/bin/lounge --home /etc/lounge
ProtectSystem=yes
ProtectHome=yes
NoNewPrivileges=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
