[Unit]
Description=The Lounge (IRC client)

[Service]
Type=simple
ExecStart=THELOUNGE_HOME=~/.lounge /usr/bin/thelounge start

[Install]
WantedBy=default.target
