Package: thelounge
Version: 4.3.0~pre.6
Section: net
Priority: optional
Architecture: all
Depends: nodejs (>= 12.13.0), bash
Provides: lounge
Conflicts: lounge
Replaces: lounge
Maintainer: The Lounge maintainers team <security@thelounge.chat>
Description: A self-hosted, web-based IRC client
Homepage: https://thelounge.chat
Bugs: https://github.com/thelounge/thelounge/issues
