Package: thelounge
Version: 1.99.5-1
Section: net
Priority: optional
Architecture: all
Depends: nodejs (>= 4)
Maintainer: Maxime Poulin <thelounge@max-p.me>
Description: A self-hosted, web-based IRC client
