Package: thelounge
Version: 3.0.0-rc.1-1
Section: net
Priority: optional
Architecture: all
Depends: nodejs (>= 6.13.0), npm, bash
Maintainer: Maxime Poulin <thelounge@max-p.me>
Description: A self-hosted, web-based IRC client
Homepage: https://thelounge.chat
Bugs: https://github.com/thelounge/thelounge/issues
